doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/jquery-ui.css')
    each script in scripts
      script(type='text/javascript', src=script)
  body
    block content
